/* .form-card{
    width: 46%;
    margin: 2%;
}

.heading{
    width: 90%; 
    text-align: center; 
    margin: 0.5em 0em;
    padding: 0% 5%;
    font-weight: 500;
    display: flex; 
    justify-content: space-between;
}

.input-fields > mat-form-field{
    width: 46%;
} */


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .value-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  mat-form-field {
    flex: 1;
  }
  